.game-page {
    padding-top: 42px;
    padding-bottom: 3px;
}
.game-page__container {
    padding: 0px 2px;
}
.game-page__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 64px;
    padding: 0px 18px;
    width: 100%;
    margin-bottom: 23.4px;
    letter-spacing: -.0em;
}
.game-page__title {
    font-size: 43px;
    font-weight: 600;
}
.game-page__score-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    padding: 10px 0px;
    max-width: 162px;
    width: 100%;
}
.game-page__score-title {
    font-size: 12px;
    text-transform: lowercase;
}
.game-page__score-number {
    font-size: 20px;
    font-weight: 500;
}
.game-page__game-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.game-page__game-content .tile {
    flex: 1 1 calc(25% - 10px);
}