/* ZERO STYLES */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Inter";  
    src: url("../assets/fonts/Inter/Inter-SemiBold.otf") format("opentype"); 
    font-style: normal; 
    font-weight: 600;
}

@font-face {
    font-family: "SuisseIntl";  
    src: url("../assets/fonts/SuisseIntl/SuisseIntl-Regular.otf") format("opentype"),
    url("../assets/fonts/SuisseIntl/_SuisseIntl-Regular.otf") format("opentype"); 
    font-style: normal; 
    font-weight: 400;
}

@font-face {
    font-family: "SuisseIntl";  
    src: url("../assets/fonts/SuisseIntl/SuisseIntl-Book.otf") format("opentype"),
    url("../assets/fonts/SuisseIntl/_SuisseIntl-Book.otf") format("opentype"); 
    font-style: normal; 
    font-weight: 300;
}

@font-face {
    font-family: "SuisseIntl";  
    src: url("../assets/fonts/SuisseIntl/SuisseIntl-Medium.otf") format("opentype"),
    url("../assets/fonts/SuisseIntl/_SuisseIntl-Medium.otf") format("opentype"); 
    font-style: normal; 
    font-weight: 500;
}

@font-face {
    font-family: "SuisseIntl";  
    src: url("../assets/fonts/SuisseIntl/SuisseIntl-SemiBold.otf") format("opentype"),
    url("../assets/fonts/SuisseIntl/_SuisseIntl-SemiBold.otf") format("opentype"); 
    font-style: normal; 
    font-weight: 600;
}

@font-face {
    font-family: "SuisseIntl";  
    src: url("../assets/fonts/SuisseIntl/SuisseIntl-SemiBoldItalic.otf") format("opentype"),
    url("../assets/fonts/SuisseIntl/_SuisseIntl-SemiBoldItalic.otf") format("opentype"); 
    font-style: italic; 
    font-weight: 600;
}

html,
body {
    height: 100%;
    font-family: "SuisseIntl";
    font-size: 18px;
    font-weight: 400;
    color: #FFF;
    line-height: 1.2;
    letter-spacing: -.03em;
    display: flex;
    flex-direction: column;
    background: linear-gradient(247deg, #CA8DFF 0%, #ff83e2 100%);
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 0px;
}

a {
    text-decoration: none;
    color: #FFF;
    cursor: pointer;
}

ol,
ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

img,
iframe {
    vertical-align: bottom;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

input[type="checkbox"],
button {
    cursor: pointer;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
    overflow-y: visible;
}

.wrapper.--colored-bg {
    background: url('../assets/images/colored-bg.svg') no-repeat;
    background-position: center;
}

.my-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
    overflow-x: hidden;
    box-sizing: content-box;
}

.main {
    flex: 1 0 auto;
    overflow-x: hidden;
}

.main > *:first-child > * {
    overflow: visible;
}

.error {
    box-shadow: 0px 0px 4px 1px rgb(255, 85, 85);
    color: red;
}

.error::placeholder {
    color: rgb(255, 85, 85)!important;
}
